.main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content:space-between;
}

.section {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;

    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem;
      font-weight: 900;
      margin-top: 2.5rem;
    }
  }

  h4 {
    margin-top: 2rem;
    color: var(--yellow-500);
    font-weight: bold;
  }
}

.containerSignIn {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  > svg {
    font-size: 10rem;
    color: var(--yellow-500);
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow-500);

    padding: 1.5rem;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1rem;
    color: var(--white);
    transition: filter 0.5;

    &:hover {
      background-color: var(--yellow-500);
      filter: brightness(0.8)
    }

    svg {
      font-size: 2rem;
    }
  }
}